* {
  margin: 0;
  padding: 0;
}

header {
  padding: 15px;
  background-color: gray;
}
nav ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

nav ul li {
  margin-right: 10px;
}

a {
  color: darkgray;
}

a.active {
  color: blue;
}

main > ui-view {
  display: block;
  padding: 15px;
}
